.breadcrumb-item+.breadcrumb-item::before {
    content: '';
    background: url(../img/icons/next_arrow.svg) no-repeat;
    background-size: 8px;
    width: 12px;
    height: 12px;
    position: relative;
    top: 6px;
    margin: 0 8px;
    opacity: .7;
}
.breadcrumb-item.active {
    font-weight: 400;
    color: var(--black-color-300);
}
.breadcrumb-item a {
    font-weight: 600;
}