 <div class="position-relative d-flex p-0" id="top">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-light position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <!-- Spinner End -->
        <%= render partial: "shared/sidebar"%>

        <!-- Content Start -->
        <div class="content pb-3">
            
         <%= render partial: "shared/navbar" %>

            <!-- Start Content -->
            <div class="container-fluid py-2 px-3 mt-3">
                <div class="card-panel bg-white radius-10">
                       
                    <div class="row g-0"> 
                            <div class="p-4">
                                <div class="d-flex flex-wrap justify-content-between align-items-center page-header"> 
                                    <h1 class="h2 mb-2">Dashboard</h1> 
                                    <select class="form-select form-control mb-2" aria-label="Default select">
                                        <option selected="">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="2">Last 7 days</option>
                                        <option value="3">1 Month</option>
                                    </select>
                                </div>
                                <!-- End Page Title -->
                                <div class="row g-3 dashboard_cards"> 
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total Projects</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2> 
                                                    
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total News</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2> 
                                                   
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 
                                   
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Coming soon</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2> 

                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Coming soon</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2> 
                                                    
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 

                                </div> 
                                <!-- End Dashboard Cards -->

                              
                        

                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content  -->
    </div>

    
  